* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 18px;


}



section {
    height: 100vh;
}

#Home {
    position: relative;
    background-image: url(https://github.com/caleb-okkers/hostedImages/blob/main/IMG_2711.jpg?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.navlinks {
    text-decoration: none !important;
}

.hometext {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header {
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);

}

@keyframes changeRole {
    0% {
        content: "Web Developer";
    }

    33% {
        content: "UX Designer";
    }

    66% {
        content: "Software Engineer";
    }

    100% {
        content: "Web Developer";
    }
}


.background {
    background-color: black;
}

.dropdown-item {
    color: #e4b50c;
    background-color: black;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #e4b50c !important;
    /* Set background color to transparent */
}

.hspan {
    font-size: inherit;
}

#role {
    color: #e4b50c;
}

#role::after {
    content: "Web Developer";
    animation: changeRole 4s infinite;
}


.pick {
    display: flex;
    justify-content: center;
    width: 25%;
    margin: auto;
    background-color: rgb(0, 0, 0, 0.5);
}

.cardimg {
    background-image: url(https://github.com/caleb-okkers/hostedImages2/blob/main/tarot%20card.jpg?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 8rem;
    height: 12rem;
}

.cardimg:hover {
    transform: scale(1.04);
    transition: transform 1s;
}

.titles {
    text-decoration: none !important;
}

h5 {
    color: white;
}

#About,
#Resume,
#Skills,
#Projects,
#Testimonials,
#Contact {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-list {
    list-style: none;
    background-color: black;
}

.headings {
    color: #e4b50c;
}

.icons {
    color: #e4b50c;
}

.custom-submit-button {
    background-color: #e4b50c !important;
}

#navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
}

.nav {
    background-color: black;
}

#ts {
    margin-left: 37%;
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    max-width: 50%;
    margin: 0 auto;
}

.prj-labels {
    text-decoration: none;
    color: white;
}

.testimonial-two {
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 2px;
}


.testimonial-two blockquote p:before {
    font-family: 'Playfair Display';
    font-size: 54px;
    color: #e4b50c;
    font-weight: 900;
    left: 10px;
    color: #FFF;
    content: "“";
    font-style: normal;
    line-height: 1;
    position: absolute;
    top: 5px;
    font-size: 45px;
}

.testimonial-two blockquote p:after {
    font-family: 'Playfair Display';
    font-size: 54px;
    color: #e4b50c;
    content: "”";
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    position: absolute;
    bottom: -0.5em;
    right: 10px;
    font-weight: 900;
    transform: scaleY(-1);
    font-size: 45px;
    bottom: -5px;
}

.testes {
    overflow: auto;
}

.testimonial-two blockquote {
    padding: 15px 15px 15px 48px;
    position: relative;
}

.testimonial-two blockquote p:before,
.testimonial-two blockquote p:after {
    color: #e4b50c;
    font-weight: 900;
}

.testimonial-two blockquote p {
    font-size: inherit;
    font-weight: inherit;
}

.testimonial-two .testimonial-author p {
    color: #999;
    margin: 0 0 0 25px;
    text-align: left;
}

.testimonial-two .testimonial-author strong {
    display: block;
    padding-top: 10px;
    margin-bottom: -2px;
    font-weight: 500;
    font-size: 14px;
    color: #444;
}

.testimonial-two .testimonial-author span {
    color: #666;
    display: block;
    font-size: 12px;
}

.testimonial-two .testimonial-author .testimonial-author-thumbnail {
    float: left;
    margin-right: 15px;
    width: auto;
}

.testimonial-two .testimonial-author img {
    max-width: 55px;
}

.testimonial-two .testimonial-author {
    margin-left: 12px;
    margin-bottom: 15px;
}


.testimonial-two .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0px;
}

.testimonial-two .owl-theme .owl-dots {
    text-align: left;
    margin-left: 50px;
}

.testimonial-two .owl-carousel .owl-dots .owl-dot.active span,
.testimonial-two .owl-carousel .owl-dots .owl-dot:hover span {
    border-color: #fff;
}

.testimonial-two .owl-carousel .owl-dots .owl-dot.active span:before,
.testimonial-two .owl-carousel .owl-dots .owl-dot:hover span:before {
    background-color: #fff;
}




.testimonial-three .testimonial-image {
    float: left;
    margin: 0 20px 0 0;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    overflow: hidden;
}

.testimonial-three .testimonial-content {
    overflow: hidden;
}

.testimonial-three .testimonial-meta {
    position: relative;
    overflow: hidden;
    margin-left: 100px;
}


.testimonial-three .testimonial-name {
    display: block;
}


.testimonial-three .testimonial-three-col {
    padding-bottom: 35px;
}

.testimonial-three .testimonial-three-col {
    border-right-style: dashed;
    border-right-width: 1px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    padding: 25px;
}

.testimonial-three .testimonial-three-col:hover {
    background-color: #e4b50c;
}

.alternate-color .testimonial-three .testimonial-three-col:hover {
    background-color: #e4b50c;
}

.testimonial-three.testimonial-three--col-two .testimonial-three-col:nth-child(2n) {
    border-right: none;
}

.testimonial-three.testimonial-three--col-two .testimonial-three-col:nth-last-child(-n+2),
.testimonial-three.testimonial-three--col-two .testimonial-three-col:last-child {
    border-bottom: none;
}

.testimonial-three.testimonial-three--col-three .testimonial-three-col:nth-child(3n) {
    border-right: none;
}

.testimonial-three.testimonial-three--col-three .testimonial-three-col:nth-last-child(-n+3),
.testimonial-three.testimonial-three--col-three .testimonial-three-col:nth-last-child(-n+2),
.testimonial-three.testimonial-three--col-three .testimonial-three-col:last-child {
    border-bottom: none;
}







.testimonial-four .testimonial-author .testimonial-author-thumbnail {
    float: left;
    margin-right: 15px;
    width: auto;
}

.testimonial-four .testimonial-author img {
    max-width: 55px;
}

.testimonial-four .testimonial-author strong {
    display: block;
    padding-top: 10px;
    margin-bottom: -2px;
    font-weight: 500;
    font-size: 14px;
    color: #444;
}

.testimonial-four .testimonial-author span {
    color: #666;
    display: block;
    font-size: 12px;
}

.testimonial-four blockquote {
    padding: 30px;
    width: 100%;
    border-radius: 4px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 25px;
    border: 2px solid #eaeaea;
}

.testimonial-four blockquote::after {
    content: "";
    border-right: 2px solid #eaeaea;
    border-bottom: 2px solid #eaeaea;
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    transform: rotate(55deg);
    position: absolute;
    left: 55px;
    bottom: -12px;
    width: 15px;
    height: 21px;
    overflow: hidden;
    background: white;
}

.testimonial-four .owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    float: right;
    text-align: right;
    right: 3px;
    bottom: 40px;
}

.testimonial-four .testimonial-author {
    position: relative;
    overflow: hidden;
}

.testimonial-four blockquote:hover::after {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.testimonial-four blockquote:hover {
    border: 2px solid #fff;
}





.testimonial-five blockquote p {
    font-weight: 400;
    font-size: 14.58px;
    line-height: 1.6;
    margin-bottom: 0;
}

.testimonial-five .testimonial-author .testimonial-author-thumbnail {
    float: left;
    margin-right: 15px;
    width: auto;
}

.testimonial-five .testimonial-author img {
    max-width: 55px;
}

.testimonial-five .testimonial-author strong {
    display: block;
    padding-top: 10px;
    margin-bottom: -2px;
    font-weight: 600;
    font-size: 13px;
}

.testimonial-five .testimonial-author span {
    color: #666;
    display: block;
    font-size: 12px;
}

.testimonial-five blockquote {
    padding: 32px 41px 37px;
    width: 100%;
    border-radius: 4px;
    position: relative;
    margin-bottom: 30px;
    border: 0px solid #eaeaea;
    background-color: #f7f7f7;
}

.testimonial-five blockquote::after {
    content: "";
    border-right: 0px solid #eaeaea;
    border-bottom: 0px solid #eaeaea;
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    transform: rotate(55deg);
    position: absolute;
    left: 55px;
    bottom: -10px;
    width: 15px;
    height: 21px;
    overflow: hidden;
    background: #f7f7f7;
}

.testimonial-five.testimonial-light blockquote {
    background-color: #e4b50c;
}

.testimonial-five.testimonial-light blockquote::after {
    background: #e4b50c;
}


.testimonial-five .owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    float: right;
    text-align: right;
    right: 3px;
    bottom: 40px;
}

.testimonial-five .testimonial-author {
    position: relative;
    overflow: hidden;
}

.testimonial-five blockquote:before {
    content: "“";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 170px;
    color: rgba(189, 189, 189, 0.2);
    position: absolute;
    top: 10px;
    left: 20px;
}



.img {
    max-width: 100%;
    height: auto;
}
.nav-links{
    text-decoration: none;
}
/* For screens up to 300px */
@media (max-width: 300px) {

    /* Adjust styles for screens up to 300px */
    /* For example: */
    body {
        font-size: 12px;
    }
}

/* For screens between 301px and 720px */
@media (min-width: 301px) and (max-width: 720px) {

    /* Adjust styles for screens between 301px and 720px */
    /* For example: */
    body {
        font-size: 14px;
    }
}

/* For screens larger than 720px */
@media (min-width: 721px) {

    /* Adjust styles for screens larger than 720px */
    /* For example: */
    body {
        font-size: 16px;
    }
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #000;
    ;
    border-top: 4px solid #fff;
    color: #fff;
}

footer p {
    margin: 2rem;
}

.footermain {
    color: #e4b50c;
}

footer i {
    vertical-align: middle;
}

@media (max-width: 28.75em) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}